.navbar {
	height: 45px;
	background: map-get($colors, black);
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: 400;

	.menu {
		flex-grow: 1;
		margin-left: 20px;
		position: relative;
		width: rem(40px);
		color: map-get($colors, white);
		cursor: pointer;

		&:after {
			content: '\2630';
			position: absolute;
			font-size: rem(25px);
			line-height: 45px;
		}
	}

	.title {
		flex-grow: 1;
		font-size: rem(25px);
		color: map-get($colors, white);
		line-height: 45px;
		text-align: center;

	}
	.add {
		margin-right: 20px;
		cursor: pointer;
		flex-grow: 1;
		position: relative;
		width: rem(40px);
		color: map-get($colors, white);
		&:after {
			content: '\2b';
			position: absolute;
			top: 0; 
			right: 0px;
			font-size: rem(25px);
			line-height: 45px;
		}
	}
}

.addFriend {
	display: flex;
	flex-direction: row;
	height: 0px;
	form {
		display: flex;
		flex-grow: 1;

		input[type="text"] {
			flex-grow: 4;
			border: none;
			background: map-get($colors, white);
			padding: 0 30px;
		}
		input[type="submit"] {
			flex-grow: 1;
			border-radius: 0;
			border: none;
			border-left: 1px solid map-get($colors, gray-light);
			background: map-get($colors, green);
			color: map-get($colors, white);
			cursor: pointer;
		}
		input:focus {
			outline: 0;
		}
	}
}